body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: Oxygen;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('/images/restaurant-logo.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;

}

.navbar-brand p span {
    vertical-align: middle;
}


.navbar-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 30px;
    margin-left: 20px;
}

li {
    float: left;
}

.navitem li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navitem li a:hover {
    background-color: #111111;
}

.mobile-nav-icon{
    width: 3rem;
    height: 3rem;
    color: #030303;
}
.mobile-nav-icon[name="close-outline"]{
    display: none;
}
.mobile-navbar-btn{
    display: none;
    background: transparent;
    cursor: pointer;
}
@media(max-width:62em){
    .mobile-navbar-btn{
        display: block;
        z-index: 999;
        border: 3px solid #212529;
        color: #212529;
    }
    .header{
        position: relative;
    }
    .navitem{
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: #253eff;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;


    }
    .navbar-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .active .navitem{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
        

    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;


    }
}
@media(max-width:37em){
    .header{
        padding: 0 3.2em;

    }
    
}
main h1{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    background-color: #08b3b3;
    animation: blink 2s  infinite  ;
}
@keyframes blink {
    from{
       background-color: #EEA47FFF;
    }
    to{
        background-color: #00539CFF;
    }
    
}
main h2{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    background-color: #ff7b00;
    color:  #253eff;

}
.lines p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 400;
}
.vegitem{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 15px;
    

}
.vegitem img{
    width: 235px;
    height: 200px;
}
.nonvegitem{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 15px;
    

}
.nonvegitem img{
    width: 235px;
    height: 200px;
}
footer p{
    display: flex;
    justify-content: center;
}
#disclaimer{
    background-color: #14dfdf;
}
.history-heading{
    background-color: rgb(235, 130, 11);

}
.history-content{
    background-color: #490d4e;
    font-size: 30px;
    line-height: 40px;
    margin: 20px 30px;
}
.history-content p{
    margin: 20px 20px;
}

.contactform{
    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;
    margin: 0 88px;

}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    /* padding: 12px 0; */
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
.contactform form{
    margin: 0 40px;
}
.form-control{
    width: 700px;
}
#form-check{
    flex-direction: row;
 }
 #form-check input{
     width: 24px;
     margin: 3px;
 }
 .buttons{
    margin-top: 34px;
    font-size: 16px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: mediumblue;
    font-weight: bold;
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;

}
.btn-sm{
    font-size: 17px;
    padding: 10px ,19px;
    margin: 12px 0;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;

}
section#about {
    padding: 60px 0;
    text-align: center;
    background-color: #14dfdf;
  }
  
  section#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  section#about p {
    font-size: 28px;
    line-height: 2;
    margin-bottom: 20px;
  }
  
  section#about .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  section#about .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  section#about img {
    max-width: 110%;
    height: auto;
  }

  .vegfooditem h2{
    animation-name: widthanimate;
    animation-duration: 4s;
    animation-iteration-count: 2;
  }
  .nonvegfooditem h2{
    animation-name: widthanimate;
    animation-duration: 4s;
    animation-iteration-count: 2;
    
  }

  @keyframes widthanimate {
    from{
        width: 300px;

    }
    to{
        width: 100%;
        background-color: #79A7D3;
    }
    
  }
